In [2]:
import pandas as pd

In [3]:
loans = pd.read_csv('loans.csv')

loans.columns

Index(['LOAN_ID', 'LOAN_NAME', 'ORIGINAL_LANGUAGE', 'DESCRIPTION',
       'DESCRIPTION_TRANSLATED', 'FUNDED_AMOUNT', 'LOAN_AMOUNT', 'STATUS',
       'IMAGE_ID', 'VIDEO_ID', 'ACTIVITY_NAME', 'SECTOR_NAME', 'LOAN_USE',
       'COUNTRY_CODE', 'COUNTRY_NAME', 'TOWN_NAME', 'CURRENCY_POLICY',
       'CURRENCY_EXCHANGE_COVERAGE_RATE', 'CURRENCY', 'PARTNER_ID',
       'POSTED_TIME', 'PLANNED_EXPIRATION_TIME', 'DISBURSE_TIME',
       'RAISED_TIME', 'LENDER_TERM', 'NUM_LENDERS_TOTAL',
       'NUM_JOURNAL_ENTRIES', 'NUM_BULK_ENTRIES', 'TAGS', 'BORROWER_NAMES',
       'BORROWER_GENDERS', 'BORROWER_PICTURED', 'REPAYMENT_INTERVAL',
       'DISTRIBUTION_MODEL'],
      dtype='object')

In [4]:
loans.columns = map(lambda x:x.lower(),loans.columns)

In [5]:
import matplotlib.pyplot as plt

In [6]:
loans['English_Description']  = loans['description_translated'].fillna(loans['description'])

In [7]:
loans.isnull().sum()

loan_id                                  0
loan_name                            47558
original_language                    43251
description                          43280
description_translated              452673
funded_amount                            0
loan_amount                              0
status                                   0
image_id                             43251
video_id                           1418997
activity_name                            0
sector_name                              0
loan_use                             43269
country_code                             9
country_name                             0
town_name                           161758
currency_policy                          0
currency_exchange_coverage_rate     321526
currency                                 0
partner_id                           16790
posted_time                              0
planned_expiration_time             371834
disburse_time                         2813
raised_time                          64282
lender_term                             24
num_lenders_total                        0
num_journal_entries                      0
num_bulk_entries                         0
tags                                784054
borrower_names                       47558
borrower_genders                     43251
borrower_pictured                    43251
repayment_interval                       0
distribution_model                       0
English_Description                  43280
dtype: int64

In [8]:
loans_min = loans.drop(['description_translated','image_id','description','loan_name','original_language','video_id','town_name','currency_exchange_coverage_rate','currency_policy','planned_expiration_time','partner_id','tags'],axis=1)

loans_min.head()

,loan_id,funded_amount,loan_amount,status,activity_name,sector_name,loan_use,country_code,country_name,currency,...,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,borrower_names,borrower_genders,borrower_pictured,repayment_interval,distribution_model,English_Description
0,657307,125.0,125.0,funded,General Store,Retail,to buy additional inventories for her sari-sa...,PH,Philippines,PHP,...,7.0,3,2,1,Aivy,female,true,irregular,field_partner,"Aivy, 21 years of age, is single and lives in ..."
1,657259,400.0,400.0,funded,Used Clothing,Clothing,"To buy American clothing such as blouses, shir...",HN,Honduras,HNL,...,8.0,11,2,1,Idalia Marizza,female,true,monthly,field_partner,"Idalia, 57, is married and lives with her husb..."
2,658010,400.0,400.0,funded,General Store,Retail,"to buy stock of rice, sugar and flour",PK,Pakistan,PKR,...,14.0,16,2,1,Aasia,female,true,monthly,field_partner,Aasia is a 45-year-old married lady and she ha...
3,659347,625.0,625.0,funded,Farming,Agriculture,"to buy cucumber and tomato seeds, as well as f...",KG,Kyrgyzstan,KGS,...,14.0,21,2,1,Gulmira,female,true,monthly,field_partner,Gulmira is 36 years old and married. She and ...
4,656933,425.0,425.0,funded,Farming,Agriculture,to buy organic fertilizer and agrochemical pr...,PH,Philippines,PHP,...,7.0,15,2,1,Ricky\t,male,true,bullet,field_partner,Ricky is a farmer who currently cultivates his...

In [9]:
loans_min.isnull().sum()

loan_id                    0
funded_amount              0
loan_amount                0
status                     0
activity_name              0
sector_name                0
loan_use               43269
country_code               9
country_name               0
currency                   0
posted_time                0
disburse_time           2813
raised_time            64282
lender_term               24
num_lenders_total          0
num_journal_entries        0
num_bulk_entries           0
borrower_names         47558
borrower_genders       43251
borrower_pictured      43251
repayment_interval         0
distribution_model         0
English_Description    43280
dtype: int64

In [10]:
loans_reduced = loans_min.dropna(how='any')

loans_reduced.shape

(1309645, 23)

In [12]:
def gender_count(ppl,gender):
    count = 0
    for p in ppl:
        p = p.replace(' ','')
        if(p == gender):
            count = count+1
            
    return count

def female_count(ppl):
    return gender_count(ppl,'female')

def male_count(ppl):
    return gender_count(ppl,'male')
            
loans_reduced['borrowers'] = [str(x).split(',') for x in loans_reduced['borrower_genders']]
loans_reduced['female_count'] = loans_reduced['borrowers'].apply(female_count)
loans_reduced['male_count'] = loans_reduced['borrowers'].apply(male_count)

C:\Users\ssank\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\ssank\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ssank\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
loans_reduced = loans_reduced.drop(['borrowers','borrower_names','borrower_genders','borrower_pictured','country_code'], axis=1)

loans_reduced.head()

,loan_id,funded_amount,loan_amount,status,activity_name,sector_name,loan_use,country_name,currency,posted_time,...,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,repayment_interval,distribution_model,English_Description,female_count,male_count
0,657307,125.0,125.0,funded,General Store,Retail,to buy additional inventories for her sari-sa...,Philippines,PHP,2014-01-15 02:23:45.000 +0000,...,2014-01-15 04:48:22.000 +0000,7.0,3,2,1,irregular,field_partner,"Aivy, 21 years of age, is single and lives in ...",1,0
1,657259,400.0,400.0,funded,Used Clothing,Clothing,"To buy American clothing such as blouses, shir...",Honduras,HNL,2014-01-14 20:23:20.000 +0000,...,2014-02-25 06:42:06.000 +0000,8.0,11,2,1,monthly,field_partner,"Idalia, 57, is married and lives with her husb...",1,0
2,658010,400.0,400.0,funded,General Store,Retail,"to buy stock of rice, sugar and flour",Pakistan,PKR,2014-01-16 11:32:58.000 +0000,...,2014-01-24 23:06:18.000 +0000,14.0,16,2,1,monthly,field_partner,Aasia is a 45-year-old married lady and she ha...,1,0
3,659347,625.0,625.0,funded,Farming,Agriculture,"to buy cucumber and tomato seeds, as well as f...",Kyrgyzstan,KGS,2014-01-20 09:59:48.000 +0000,...,2014-01-22 05:29:28.000 +0000,14.0,21,2,1,monthly,field_partner,Gulmira is 36 years old and married. She and ...,1,0
4,656933,425.0,425.0,funded,Farming,Agriculture,to buy organic fertilizer and agrochemical pr...,Philippines,PHP,2014-01-14 05:46:21.000 +0000,...,2014-01-14 17:29:27.000 +0000,7.0,15,2,1,bullet,field_partner,Ricky is a farmer who currently cultivates his...,0,1

In [14]:
loans_reduced['shortage_fund'] = loans_reduced['loan_amount'] - loans_reduced['funded_amount']

loans_reduced.loc[:,('posted_time')] = pd.to_datetime(loans_reduced['posted_time'],format='%Y-%m-%d %H:%M:%S')
loans_reduced.loc[:,('disburse_time')] = pd.to_datetime(loans_reduced['disburse_time'],format='%Y-%m-%d %H:%M:%S')
loans_reduced.loc[:,('raised_time')] = pd.to_datetime(loans_reduced['raised_time'],format='%Y-%m-%d %H:%M:%S')

from datetime import datetime, timedelta
loans_reduced.loc[:,'posted_raised_hours'] = (loans_reduced['raised_time']-loans_reduced['posted_time']).astype('timedelta64[h]')
loans_reduced.loc[:,'disburse_raised_hours'] = (loans_reduced['raised_time']-loans_reduced['disburse_time']).astype('timedelta64[h]')

In [15]:
loans_reduced_df = loans_reduced.drop(['funded_amount','posted_time','disburse_time','raised_time'],axis=1)

In [16]:
loans_reduced_df.to_csv('loans_reduced_dataset.csv',encoding='utf-8')

In [17]:
loans_reduced_df = pd.read_csv('loans_reduced_dataset.csv',encoding='utf-8')

loans_reduced_df.head()

,Unnamed: 0,loan_id,loan_amount,status,activity_name,sector_name,loan_use,country_name,currency,lender_term,...,num_journal_entries,num_bulk_entries,repayment_interval,distribution_model,English_Description,female_count,male_count,shortage_fund,posted_raised_hours,disburse_raised_hours
0,0,657307,125.0,funded,General Store,Retail,to buy additional inventories for her sari-sa...,Philippines,PHP,7.0,...,2,1,irregular,field_partner,"Aivy, 21 years of age, is single and lives in ...",1,0,0.0,2.0,572.0
1,1,657259,400.0,funded,Used Clothing,Clothing,"To buy American clothing such as blouses, shir...",Honduras,HNL,8.0,...,2,1,monthly,field_partner,"Idalia, 57, is married and lives with her husb...",1,0,0.0,994.0,1606.0
2,2,658010,400.0,funded,General Store,Retail,"to buy stock of rice, sugar and flour",Pakistan,PKR,14.0,...,2,1,monthly,field_partner,Aasia is a 45-year-old married lady and she ha...,1,0,0.0,203.0,375.0
3,3,659347,625.0,funded,Farming,Agriculture,"to buy cucumber and tomato seeds, as well as f...",Kyrgyzstan,KGS,14.0,...,2,1,monthly,field_partner,Gulmira is 36 years old and married. She and ...,1,0,0.0,43.0,117.0
4,4,656933,425.0,funded,Farming,Agriculture,to buy organic fertilizer and agrochemical pr...,Philippines,PHP,7.0,...,2,1,bullet,field_partner,Ricky is a farmer who currently cultivates his...,0,1,0.0,11.0,681.0

In [18]:
loans_reduced_df.shape

(1309645, 21)

In [19]:
import matplotlib.pyplot as plt

In [20]:
loans_reduced_df = loans_reduced_df.drop(['loan_use','currency','English_Description','distribution_model','Unnamed: 0'],axis=1)

In [21]:
loans_reduced_dummies = pd.get_dummies(loans_reduced_df)

In [22]:
borrowers_count = loans_reduced_df['female_count'] + loans_reduced_df['male_count']

In [23]:
loans_reduced_df['borrow_type'] = ['Individual' if x <= 1 else 'Group' for x in borrowers_count]

loans_reduced_df

,loan_id,loan_amount,status,activity_name,sector_name,country_name,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,repayment_interval,female_count,male_count,shortage_fund,posted_raised_hours,disburse_raised_hours,borrow_type
0,657307,125.0,funded,General Store,Retail,Philippines,7.0,3,2,1,irregular,1,0,0.0,2.0,572.0,Individual
1,657259,400.0,funded,Used Clothing,Clothing,Honduras,8.0,11,2,1,monthly,1,0,0.0,994.0,1606.0,Individual
2,658010,400.0,funded,General Store,Retail,Pakistan,14.0,16,2,1,monthly,1,0,0.0,203.0,375.0,Individual
3,659347,625.0,funded,Farming,Agriculture,Kyrgyzstan,14.0,21,2,1,monthly,1,0,0.0,43.0,117.0,Individual
4,656933,425.0,funded,Farming,Agriculture,Philippines,7.0,15,2,1,bullet,0,1,0.0,11.0,681.0,Individual
5,659605,350.0,funded,Farming,Agriculture,Philippines,8.0,13,1,1,monthly,1,0,0.0,2.0,139.0,Individual
6,660240,125.0,funded,Agriculture,Agriculture,Philippines,8.0,4,1,1,irregular,1,0,0.0,6.0,50.0,Individual
7,661601,1600.0,funded,Agriculture,Agriculture,El Salvador,26.0,49,1,1,irregular,0,1,0.0,697.0,1041.0,Individual
8,661960,350.0,funded,Farming,Agriculture,Philippines,10.0,13,2,1,irregular,1,0,0.0,3.0,90.0,Individual
9,662117,1825.0,funded,Clothing,Clothing,Burundi,10.0,46,1,1,monthly,4,0,0.0,513.0,920.0,Group
10,664719,200.0,funded,Fishing,Food,Philippines,8.0,6,2,1,irregular,1,0,0.0,576.0,715.0,Individual
11,659929,950.0,funded,Clothing,Clothing,Mali,10.0,26,2,1,irregular,1,0,0.0,26.0,174.0,Individual
12,660363,1175.0,funded,Grocery Store,Food,Mongolia,26.0,24,1,1,monthly,1,0,0.0,11.0,732.0,Individual
13,661165,300.0,funded,Personal Expenses,Personal Use,Peru,10.0,11,1,1,monthly,0,1,0.0,1145.0,1832.0,Individual
14,661467,400.0,funded,Rickshaw,Transportation,Pakistan,14.0,10,2,1,monthly,1,0,0.0,82.0,446.0,Individual
15,664242,225.0,funded,Farming,Agriculture,Philippines,8.0,9,1,1,irregular,1,0,0.0,635.0,699.0,Individual
16,664664,1500.0,funded,Agriculture,Agriculture,El Salvador,15.0,53,2,1,bullet,0,1,0.0,622.0,637.0,Individual
17,665129,125.0,funded,Clothing Sales,Clothing,Honduras,8.0,4,4,2,monthly,1,0,0.0,510.0,760.0,Individual
18,956960,375.0,funded,Grocery Store,Food,Philippines,11.0,15,1,1,irregular,1,0,0.0,779.0,1114.0,Individual
19,956996,225.0,funded,Retail,Retail,Philippines,8.0,7,1,1,irregular,1,0,0.0,486.0,991.0,Individual
20,957134,400.0,funded,Rickshaw,Transportation,Pakistan,11.0,8,1,1,irregular,1,0,0.0,166.0,434.0,Individual
21,955438,650.0,funded,Motorcycle Transport,Transportation,Philippines,14.0,23,1,1,monthly,1,0,0.0,786.0,1143.0,Individual
22,958387,500.0,funded,Tailoring,Services,Pakistan,14.0,16,2,1,monthly,1,0,0.0,730.0,1161.0,Individual
23,958688,1300.0,funded,Fruits & Vegetables,Food,Georgia,20.0,44,1,1,monthly,1,0,0.0,398.0,1029.0,Individual
24,959457,300.0,funded,Food Production/Sales,Food,El Salvador,14.0,11,1,1,monthly,1,0,0.0,272.0,597.0,Individual
25,959968,1125.0,funded,Musical Instruments,Arts,Armenia,26.0,25,2,1,monthly,0,1,0.0,148.0,801.0,Individual
26,960968,2175.0,funded,Cattle,Agriculture,Kyrgyzstan,8.0,62,1,1,monthly,1,0,0.0,183.0,950.0,Individual
27,961209,450.0,funded,Cereals,Food,Philippines,8.0,9,1,1,irregular,1,0,0.0,420.0,990.0,Individual
28,961581,500.0,funded,Fish Selling,Food,Ghana,9.0,17,1,1,irregular,2,0,0.0,179.0,448.0,Group
29,961725,925.0,funded,Animal Sales,Agriculture,Tanzania,7.0,21,2,1,irregular,2,0,0.0,74.0,347.0,Group
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309615,985678,225.0,funded,Farming,Agriculture,Philippines,8.0,2,2,1,irregular,0,1,0.0,162.0,905.0,Individual
1309616,986003,1200.0,funded,Farming,Agriculture,Uganda,12.0,35,1,1,monthly,0,1,0.0,779.0,831.0,Individual
1309617,986743,625.0,funded,Restaurant,Food,Armenia,20.0,25,2,1,monthly,1,0,0.0,504.0,1181.0,Individual
1309618,987045,600.0,funded,Cosmetics Sales,Retail,El Salvador,20.0,8,1,1,monthly,1,0,0.0,797.0,907.0,Individual
1309619,987117,275.0,funded,Furniture Making,Manufacturing,Philippines,9.0,11,1,1,irregular,1,0,0.0,88.0,829.0,Individual
1309620,987147,275.0,funded,Retail,Retail,Philippines,8.0,10,1,1,irregular,1,0,0.0,83.0,805.0,Individual
1309621,988264,525.0,funded,Manufacturing,Manufacturing,Philippines,13.0,21,1,1,irregular,1,0,0.0,68.0,691.0,Individual
1309622,988784,700.0,funded,Agriculture,Agriculture,Kenya,11.0,24,1,1,bullet,13,0,0.0,187.0,-1288.0,Group
1309623,983872,175.0,funded,Clothing Sales,Clothing,Honduras,12.0,7,2,1,monthly,1,0,0.0,87.0,727.0,Individual
1309624,984721,250.0,funded,Food Production/Sales,Food,El Salvador,14.0,10,1,1,monthly,1,0,0.0,217.0,903.0,Individual
1309625,985147,300.0,funded,Farming,Agriculture,Kenya,14.0,10,3,2,monthly,1,0,0.0,567.0,544.0,Individual
1309626,987935,4900.0,funded,General Store,Retail,Bolivia,8.0,122,2,1,monthly,7,1,0.0,494.0,916.0,Group
1309627,988327,125.0,funded,Food Production/Sales,Food,Philippines,8.0,5,1,1,irregular,1,0,0.0,60.0,395.0,Individual
1309628,988356,1000.0,funded,Retail,Retail,Timor-Leste,15.0,26,1,1,monthly,1,0,0.0,557.0,1037.0,Individual
1309629,988521,250.0,funded,Personal Expenses,Personal Use,Nigeria,14.0,10,1,1,bullet,0,1,0.0,668.0,528.0,Individual
1309630,988686,100.0,funded,Personal Expenses,Personal Use,Nigeria,14.0,3,1,1,bullet,0,1,0.0,238.0,102.0,Individual
1309631,982693,1400.0,funded,Livestock,Agriculture,Kyrgyzstan,14.0,49,1,1,monthly,1,0,0.0,248.0,1015.0,Individual
1309632,983537,200.0,funded,Farming,Agriculture,Kenya,14.0,8,2,1,monthly,1,0,0.0,594.0,668.0,Individual
1309633,983613,1675.0,funded,Personal Housing Expenses,Housing,Ukraine,26.0,57,4,2,monthly,1,0,0.0,611.0,878.0,Individual
1309634,984070,200.0,funded,Retail,Retail,Kenya,14.0,1,1,1,irregular,1,0,0.0,88.0,109.0,Individual
1309635,984256,200.0,funded,Food,Food,Kenya,14.0,6,1,1,monthly,1,0,0.0,172.0,653.0,Individual
1309636,984659,325.0,funded,Home Appliances,Personal Use,Lao People's Democratic Republic,8.0,11,1,1,bullet,3,4,0.0,164.0,5.0,Group
1309637,985764,325.0,funded,Fishing,Food,Philippines,11.0,13,1,1,irregular,1,0,0.0,774.0,1085.0,Individual
1309638,986756,5475.0,funded,Retail,Retail,The Democratic Republic of the Congo,6.0,104,2,1,irregular,28,0,0.0,123.0,391.0,Group
1309639,986789,500.0,funded,Beauty Salon,Services,Kenya,14.0,18,1,1,monthly,1,0,0.0,797.0,970.0,Individual
1309640,987606,3000.0,funded,Farming,Agriculture,Armenia,38.0,19,1,1,monthly,0,1,0.0,752.0,1016.0,Individual
1309641,988213,300.0,funded,Pigs,Agriculture,Philippines,14.0,12,1,1,irregular,1,0,0.0,509.0,674.0,Individual
1309642,989109,2425.0,funded,Bakery,Food,Ghana,8.0,76,2,1,irregular,4,2,0.0,585.0,1044.0,Group
1309643,989143,100.0,funded,Farming,Agriculture,Philippines,12.0,3,1,1,irregular,1,0,0.0,105.0,805.0,Individual
1309644,989240,175.0,funded,Sewing,Services,Madagascar,14.0,7,1,1,monthly,1,0,0.0,57.0,759.0,Individual

In [24]:
country_html = pd.read_html('https://developers.google.com/public-data/docs/canonical/countries_csv')

country = country_html[0]

country.columns = country.loc[0]

country = country[1:]

country = country.rename(columns={'country':'code','name':'country'})

country.head()

0 code   latitude   longitude               country
1   AD  42.546245    1.601554               Andorra
2   AE  23.424076   53.847818  United Arab Emirates
3   AF   33.93911   67.709953           Afghanistan
4   AG  17.060816  -61.796428   Antigua and Barbuda
5   AI  18.220554  -63.068615              Anguilla

In [25]:
loans_reduced_df = loans_reduced_df.rename(columns={'country_name':'country'})

In [26]:
mpi = pd.read_csv('mpi.csv')

mpi_reduced = mpi[['Country','Value']]


mpi_reduced.columns = ['country','mpi']

mpi_reduced.head()

       country    mpi
0  Afghanistan  0.293
1      Albania  0.005
2    Argentina  0.015
3      Armenia  0.002
4   Azerbaijan  0.009

In [27]:
countries_in_poverty = loans_reduced_df.merge(mpi_reduced,on='country',how='inner')

countries_in_poverty.head()

,loan_id,loan_amount,status,activity_name,sector_name,country,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,repayment_interval,female_count,male_count,shortage_fund,posted_raised_hours,disburse_raised_hours,borrow_type,mpi
0,657307,125.0,funded,General Store,Retail,Philippines,7.0,3,2,1,irregular,1,0,0.0,2.0,572.0,Individual,0.033
1,656933,425.0,funded,Farming,Agriculture,Philippines,7.0,15,2,1,bullet,0,1,0.0,11.0,681.0,Individual,0.033
2,659605,350.0,funded,Farming,Agriculture,Philippines,8.0,13,1,1,monthly,1,0,0.0,2.0,139.0,Individual,0.033
3,660240,125.0,funded,Agriculture,Agriculture,Philippines,8.0,4,1,1,irregular,1,0,0.0,6.0,50.0,Individual,0.033
4,661960,350.0,funded,Farming,Agriculture,Philippines,10.0,13,2,1,irregular,1,0,0.0,3.0,90.0,Individual,0.033

In [28]:
countries_in_poverty.corr().style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)

In [29]:
countries_in_poverty_dummies = pd.get_dummies(countries_in_poverty)

In [30]:
countries_in_poverty_dummies.shape

(1093303, 258)

In [31]:
countries_in_poverty_dummies.describe()

,loan_id,loan_amount,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,female_count,male_count,shortage_fund,posted_raised_hours,...,country_Ukraine,country_Yemen,country_Zambia,country_Zimbabwe,repayment_interval_bullet,repayment_interval_irregular,repayment_interval_monthly,repayment_interval_weekly,borrow_type_Group,borrow_type_Individual
count,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,...,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06,1.093303e+06
mean,7.128153e+05,6.820360e+02,1.228501e+01,1.978252e+01,1.502411e+00,1.129520e+00,1.408695e+00,3.568059e-01,-2.057984e-04,2.871119e+02,...,4.420549e-03,2.972643e-03,1.009784e-03,4.804706e-03,7.481549e-02,4.151383e-01,5.094791e-01,5.670889e-04,1.323567e-01,8.676433e-01
std,4.176628e+05,8.705654e+02,7.382416e+00,2.500588e+01,9.832659e-01,4.922520e-01,2.412550e+00,1.006229e+00,8.620657e-02,3.408914e+02,...,6.634013e-02,5.444088e-02,3.176107e-02,6.914930e-02,2.630935e-01,4.927461e-01,4.999104e-01,2.380689e-02,3.388783e-01,3.388783e-01
min,8.400000e+01,2.500000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-5.000000e+01,-9.145000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.455045e+05,2.500000e+02,8.000000e+00,7.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,8.100000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
50%,7.014830e+05,4.500000e+02,1.100000e+01,1.300000e+01,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.760000e+02,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.079614e+06,8.000000e+02,1.400000e+01,2.400000e+01,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,4.090000e+02,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,1.444063e+06,1.000000e+05,1.580000e+02,3.045000e+03,4.800000e+01,2.400000e+01,5.000000e+01,4.400000e+01,2.500000e+01,1.280900e+04,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [32]:
countries_in_poverty_dummies = countries_in_poverty_dummies.drop('disburse_raised_hours',axis=1)

In [33]:
countries_in_poverty_dummies.head()

,loan_id,loan_amount,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,female_count,male_count,shortage_fund,posted_raised_hours,...,country_Ukraine,country_Yemen,country_Zambia,country_Zimbabwe,repayment_interval_bullet,repayment_interval_irregular,repayment_interval_monthly,repayment_interval_weekly,borrow_type_Group,borrow_type_Individual
0,657307,125.0,7.0,3,2,1,1,0,0.0,2.0,...,0,0,0,0,0,1,0,0,0,1
1,656933,425.0,7.0,15,2,1,0,1,0.0,11.0,...,0,0,0,0,1,0,0,0,0,1
2,659605,350.0,8.0,13,1,1,1,0,0.0,2.0,...,0,0,0,0,0,0,1,0,0,1
3,660240,125.0,8.0,4,1,1,1,0,0.0,6.0,...,0,0,0,0,0,1,0,0,0,1
4,661960,350.0,10.0,13,2,1,1,0,0.0,3.0,...,0,0,0,0,0,1,0,0,0,1

In [34]:
Y = countries_in_poverty_dummies['posted_raised_hours']

X = countries_in_poverty_dummies.drop('posted_raised_hours',axis=1)

In [35]:
print(f"X shape - {X.shape}; Y shape - {Y.shape}")

X shape - (1093303, 256); Y shape - (1093303,)

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
x_train, x_test, y_train, y_test = train_test_split(X,Y)

In [47]:
countries_in_poverty.columns

Index(['loan_id', 'loan_amount', 'status', 'activity_name', 'sector_name',
       'country', 'lender_term', 'num_lenders_total', 'num_journal_entries',
       'num_bulk_entries', 'repayment_interval', 'female_count', 'male_count',
       'shortage_fund', 'posted_raised_hours', 'disburse_raised_hours',
       'borrow_type', 'mpi'],
      dtype='object')

In [50]:
for c in ['loan_id', 'loan_amount', 'status', 'activity_name', 'sector_name',
       'country', 'lender_term', 'num_lenders_total', 'num_journal_entries',
       'num_bulk_entries', 'repayment_interval', 'female_count', 'male_count',
       'shortage_fund', 'posted_raised_hours', 'disburse_raised_hours',
       'borrow_type', 'mpi']:
    print(f'{c} - {countries_in_poverty[c].nunique()}')

loan_id - 1093303
loan_amount - 481
status - 2
activity_name - 162
sector_name - 15
country - 61
lender_term - 151
num_lenders_total - 499
num_journal_entries - 36
num_bulk_entries - 22
repayment_interval - 4
female_count - 51
male_count - 39
shortage_fund - 4
posted_raised_hours - 3389
disburse_raised_hours - 4378
borrow_type - 2
mpi - 55

In [56]:
countries_in_poverty['activity_name'].describe()

count     1093303
unique        162
top       Farming
freq       108449
Name: activity_name, dtype: object

In [61]:
samples_activity = countries_in_poverty.groupby('activity_name', group_keys=False).apply(lambda x: x.sample(min(len(x), 100)))
samples_sector = countries_in_poverty.groupby('sector_name', group_keys=False).apply(lambda x: x.sample(min(len(x), 1000)))
samples_country = countries_in_poverty.groupby('country', group_keys=False).apply(lambda x: x.sample(min(len(x), 500)))

samples_country.corr()

,loan_id,loan_amount,status,activity_name,sector_name,country,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,repayment_interval,female_count,male_count,shortage_fund,posted_raised_hours,disburse_raised_hours,borrow_type,mpi
1091910,111451,625.0,funded,General Store,Retail,Afghanistan,10.0,17,2,1,monthly,1,2,0.0,301.0,299.0,Group,0.293
1092015,71013,1075.0,funded,Restaurant,Food,Afghanistan,14.0,38,4,2,monthly,0,1,0.0,19.0,-337.0,Individual,0.293
1091535,105531,1150.0,funded,Tailoring,Services,Afghanistan,13.0,35,2,1,monthly,4,0,0.0,71.0,69.0,Group,0.293
1092657,10133,175.0,funded,Milk Sales,Food,Afghanistan,11.0,5,2,1,monthly,1,0,0.0,327.0,-336.0,Individual,0.293
1091436,185595,900.0,funded,Fruits & Vegetables,Food,Afghanistan,14.0,28,2,1,monthly,3,0,0.0,22.0,21.0,Group,0.293
1091210,9017,400.0,funded,Bakery,Food,Afghanistan,11.0,14,2,1,monthly,0,1,0.0,206.0,-336.0,Individual,0.293
1092025,9009,225.0,funded,Agriculture,Agriculture,Afghanistan,11.0,7,2,1,monthly,1,0,0.0,205.0,-336.0,Individual,0.293
1092009,85052,850.0,funded,Services,Services,Afghanistan,9.0,26,2,1,monthly,4,0,0.0,28.0,30.0,Group,0.293
1091451,7513,175.0,funded,General Store,Retail,Afghanistan,10.0,2,2,1,monthly,1,0,0.0,137.0,-336.0,Individual,0.293
1091154,44399,625.0,funded,Tailoring,Services,Afghanistan,14.0,18,2,1,monthly,1,0,0.0,20.0,-336.0,Individual,0.293
1092100,9227,225.0,funded,Tailoring,Services,Afghanistan,11.0,8,2,1,monthly,1,0,0.0,162.0,-336.0,Individual,0.293
1091366,71312,1075.0,funded,Personal Expenses,Personal Use,Afghanistan,26.0,37,4,2,monthly,0,1,0.0,15.0,-337.0,Individual,0.293
1091153,33416,1025.0,funded,Tailoring,Services,Afghanistan,20.0,27,4,2,monthly,0,1,0.0,29.0,-336.0,Individual,0.293
1092007,82232,1075.0,funded,Cosmetics Sales,Retail,Afghanistan,19.0,38,2,1,monthly,0,1,0.0,13.0,11.0,Individual,0.293
1092303,103759,975.0,funded,General Store,Retail,Afghanistan,14.0,32,2,1,monthly,0,1,0.0,1040.0,1039.0,Individual,0.293
1092397,200471,1100.0,funded,Spare Parts,Retail,Afghanistan,12.0,22,2,1,monthly,1,3,0.0,61.0,59.0,Group,0.293
1092162,136655,1075.0,funded,Bookstore,Retail,Afghanistan,11.0,26,2,1,monthly,4,1,0.0,442.0,440.0,Group,0.293
1091508,23791,1025.0,funded,Grocery Store,Food,Afghanistan,14.0,35,2,1,monthly,0,1,0.0,60.0,-327.0,Individual,0.293
1091378,4594,150.0,funded,Taxi,Transportation,Afghanistan,11.0,2,2,1,monthly,1,0,0.0,112.0,-336.0,Individual,0.293
1091761,136722,850.0,funded,Tailoring,Services,Afghanistan,9.0,28,2,1,monthly,4,0,0.0,462.0,461.0,Group,0.293
1092193,174321,650.0,funded,General Store,Retail,Afghanistan,12.0,25,2,1,monthly,3,1,0.0,11.0,9.0,Group,0.293
1092111,100005,650.0,funded,Grocery Store,Food,Afghanistan,11.0,22,2,1,monthly,1,1,0.0,399.0,398.0,Group,0.293
1091275,10065,425.0,funded,Home Products Sales,Retail,Afghanistan,11.0,10,2,1,monthly,1,0,0.0,289.0,-336.0,Individual,0.293
1092018,171987,425.0,funded,Metal Shop,Manufacturing,Afghanistan,14.0,16,2,1,monthly,1,1,0.0,130.0,131.0,Group,0.293
1091895,17449,225.0,funded,Tailoring,Services,Afghanistan,10.0,9,2,1,monthly,1,0,0.0,10.0,-336.0,Individual,0.293
1092212,23654,1000.0,funded,Catering,Food,Afghanistan,14.0,36,2,1,monthly,0,1,0.0,32.0,-336.0,Individual,0.293
1092125,52032,1075.0,funded,Bakery,Food,Afghanistan,14.0,31,2,1,monthly,0,1,0.0,140.0,-336.0,Individual,0.293
1091545,127970,425.0,funded,Fruits & Vegetables,Food,Afghanistan,10.0,16,2,1,monthly,2,0,0.0,563.0,563.0,Group,0.293
1092040,146105,650.0,funded,Services,Services,Afghanistan,12.0,22,2,1,monthly,3,0,0.0,307.0,308.0,Group,0.293
1091278,103021,975.0,funded,Metal Shop,Manufacturing,Afghanistan,14.0,36,4,2,monthly,0,1,0.0,337.0,340.0,Individual,0.293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055663,906673,1000.0,funded,Grocery Store,Food,Zimbabwe,14.0,13,2,1,monthly,1,0,0.0,395.0,497.0,Individual,0.128
1053483,1198047,500.0,funded,Poultry,Agriculture,Zimbabwe,13.0,14,2,1,monthly,1,0,0.0,179.0,874.0,Individual,0.128
1055368,798791,1000.0,funded,Grocery Store,Food,Zimbabwe,8.0,39,2,1,irregular,1,0,0.0,95.0,588.0,Individual,0.128
1051202,688340,500.0,funded,Poultry,Agriculture,Zimbabwe,8.0,6,2,1,irregular,1,0,0.0,391.0,471.0,Individual,0.128
1055414,1111112,1400.0,funded,Agriculture,Agriculture,Zimbabwe,8.0,40,6,3,monthly,4,0,0.0,180.0,493.0,Group,0.128
1051450,721382,500.0,funded,Poultry,Agriculture,Zimbabwe,8.0,15,2,1,irregular,1,0,0.0,131.0,-197.0,Individual,0.128
1055342,693659,500.0,funded,Grocery Store,Food,Zimbabwe,8.0,20,2,1,irregular,1,0,0.0,314.0,249.0,Individual,0.128
1051420,990455,500.0,funded,Poultry,Agriculture,Zimbabwe,14.0,14,2,1,monthly,1,0,0.0,93.0,223.0,Individual,0.128
1054908,1275533,500.0,funded,Clothing Sales,Clothing,Zimbabwe,14.0,11,1,1,monthly,1,0,0.0,255.0,596.0,Individual,0.128
1051637,351682,1400.0,funded,Clothing Sales,Clothing,Zimbabwe,9.0,46,1,1,irregular,5,0,0.0,553.0,559.0,Group,0.128
1052297,907128,1000.0,funded,Grocery Store,Food,Zimbabwe,14.0,26,2,1,monthly,1,0,0.0,560.0,680.0,Individual,0.128
1051426,554460,750.0,funded,Clothing Sales,Clothing,Zimbabwe,6.0,23,1,1,irregular,1,0,0.0,49.0,364.0,Individual,0.128
1054133,723490,500.0,funded,Clothing Sales,Clothing,Zimbabwe,8.0,18,6,3,irregular,1,0,0.0,704.0,496.0,Individual,0.128
1055689,368882,1600.0,funded,Tailoring,Services,Zimbabwe,9.0,47,2,1,irregular,4,0,0.0,272.0,539.0,Group,0.128
1055746,746338,500.0,funded,Clothing Sales,Clothing,Zimbabwe,8.0,15,6,3,irregular,1,0,0.0,609.0,830.0,Individual,0.128
1052221,721299,500.0,funded,Poultry,Agriculture,Zimbabwe,8.0,19,4,2,irregular,1,0,0.0,267.0,-63.0,Individual,0.128
1053920,728330,1500.0,funded,Clothing Sales,Clothing,Zimbabwe,11.0,31,1,1,monthly,3,0,0.0,483.0,513.0,Group,0.128
1053297,1143141,500.0,funded,Retail,Retail,Zimbabwe,8.0,17,1,1,monthly,1,0,0.0,383.0,581.0,Individual,0.128
1053423,937626,1000.0,funded,Livestock,Agriculture,Zimbabwe,14.0,35,2,1,monthly,1,0,0.0,102.0,205.0,Individual,0.128
1054615,693646,500.0,funded,Sewing,Services,Zimbabwe,8.0,18,4,2,irregular,1,0,0.0,144.0,78.0,Individual,0.128
1051288,738577,500.0,funded,Clothing Sales,Clothing,Zimbabwe,8.0,18,2,1,irregular,1,0,0.0,793.0,657.0,Individual,0.128
1052522,990426,500.0,funded,Clothing Sales,Clothing,Zimbabwe,14.0,12,2,1,monthly,1,0,0.0,69.0,195.0,Individual,0.128
1055509,354442,1800.0,funded,Poultry,Agriculture,Zimbabwe,6.0,63,1,1,irregular,5,0,0.0,171.0,561.0,Group,0.128
1055312,642851,2400.0,funded,Food Production/Sales,Food,Zimbabwe,8.0,73,1,1,monthly,4,0,0.0,99.0,173.0,Group,0.128
1051531,644759,500.0,funded,Poultry,Agriculture,Zimbabwe,8.0,16,2,1,irregular,1,0,0.0,130.0,159.0,Individual,0.128
1053512,1016152,500.0,funded,Clothing Sales,Clothing,Zimbabwe,14.0,10,2,1,monthly,1,0,0.0,80.0,90.0,Individual,0.128
1053430,619028,500.0,funded,Clothing Sales,Clothing,Zimbabwe,8.0,19,2,1,irregular,1,0,0.0,565.0,617.0,Individual,0.128
1052489,679802,500.0,funded,Poultry,Agriculture,Zimbabwe,8.0,20,6,3,irregular,1,0,0.0,287.0,295.0,Individual,0.128
1055329,686161,500.0,funded,Sewing,Services,Zimbabwe,8.0,20,2,1,irregular,1,0,0.0,297.0,257.0,Individual,0.128
1055865,723851,500.0,funded,Food Stall,Food,Zimbabwe,8.0,19,2,1,irregular,1,0,0.0,566.0,376.0,Individual,0.128

In [62]:
samples_country.corr()

,loan_id,loan_amount,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,female_count,male_count,shortage_fund,posted_raised_hours,disburse_raised_hours,mpi
loan_id,1.000000,0.025616,0.052539,0.003543,-0.105258,-0.044613,0.051351,0.064743,NaN,0.139060,0.205851,0.049472
loan_amount,0.025616,1.000000,0.126766,0.931405,0.036153,0.030343,0.358963,0.264479,NaN,0.173367,0.052732,-0.112377
lender_term,0.052539,0.126766,1.000000,0.160038,0.139313,0.179508,-0.174468,-0.068584,NaN,0.087954,-0.124139,-0.197063
num_lenders_total,0.003543,0.931405,0.160038,1.000000,0.056336,0.047866,0.297062,0.242028,NaN,0.178093,0.028459,-0.118008
num_journal_entries,-0.105258,0.036153,0.139313,0.056336,1.000000,0.934072,0.006570,-0.011936,NaN,-0.021938,-0.092347,-0.077939
num_bulk_entries,-0.044613,0.030343,0.179508,0.047866,0.934072,1.000000,-0.002159,-0.007526,NaN,-0.003832,-0.074811,-0.065390
female_count,0.051351,0.358963,-0.174468,0.297062,0.006570,-0.002159,1.000000,0.275995,NaN,-0.008289,0.106228,0.223851
male_count,0.064743,0.264479,-0.068584,0.242028,-0.011936,-0.007526,0.275995,1.000000,NaN,0.067351,0.033113,0.119371
shortage_fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
posted_raised_hours,0.139060,0.173367,0.087954,0.178093,-0.021938,-0.003832,-0.008289,0.067351,NaN,1.000000,0.432133,-0.070028
disburse_raised_hours,0.205851,0.052732,-0.124139,0.028459,-0.092347,-0.074811,0.106228,0.033113,NaN,0.432133,1.000000,0.029452
mpi,0.049472,-0.112377,-0.197063,-0.118008,-0.077939,-0.065390,0.223851,0.119371,NaN,-0.070028,0.029452,1.000000

In [148]:
country_samples = countries_in_poverty.groupby(['country','sector_name'], group_keys=False).apply(lambda x: x.sample(min(len(x), 200)))

In [149]:
country_samples.describe()

,loan_id,loan_amount,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,female_count,male_count,shortage_fund,posted_raised_hours,disburse_raised_hours,mpi
count,8.828900e+04,88289.000000,88289.000000,88289.000000,88289.000000,88289.000000,88289.000000,88289.000000,88289.0,88289.000000,88289.000000,88289.000000
mean,6.612068e+05,993.973485,15.078243,30.178890,1.620904,1.210898,1.506145,0.539456,0.0,280.937365,497.835348,0.158815
std,4.241658e+05,1394.697149,11.106374,42.032179,1.464937,0.825865,3.126387,1.212115,0.0,332.497940,549.045201,0.147746
min,1.000000e+02,25.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.0,-9145.000000,-2128.000000,0.001000
25%,2.959340e+05,375.000000,9.000000,11.000000,1.000000,1.000000,0.000000,0.000000,0.0,78.000000,227.000000,0.025000
50%,6.263550e+05,700.000000,14.000000,21.000000,1.000000,1.000000,1.000000,0.000000,0.0,177.000000,545.000000,0.116000
75%,1.022508e+06,1150.000000,15.000000,36.000000,2.000000,1.000000,1.000000,1.000000,0.0,395.000000,833.000000,0.278000
max,1.444010e+06,100000.000000,156.000000,3045.000000,48.000000,24.000000,42.000000,33.000000,0.0,8051.000000,2487.000000,0.551000

In [150]:
countries_in_poverty.shape

(1093303, 18)

In [151]:
country_samples.corr().style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)

C:\Users\ssank\Anaconda3\envs\py36\lib\site-packages\matplotlib\colors.py:496: RuntimeWarning: invalid value encountered in less
  cbook._putmask(xa, xa < 0.0, -1)

In [152]:
country_samples = country_samples.reset_index(drop=True)

country_samples.head()

,loan_id,loan_amount,status,activity_name,sector_name,country,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,repayment_interval,female_count,male_count,shortage_fund,posted_raised_hours,disburse_raised_hours,borrow_type,mpi
0,106476,1025.0,funded,Agriculture,Agriculture,Afghanistan,14.0,36,2,1,monthly,0,1,0.0,739.0,738.0,Individual,0.293
1,73773,850.0,funded,Agriculture,Agriculture,Afghanistan,28.0,27,2,1,monthly,0,1,0.0,162.0,165.0,Individual,0.293
2,81904,625.0,funded,Agriculture,Agriculture,Afghanistan,28.0,24,2,1,monthly,0,1,0.0,8.0,10.0,Individual,0.293
3,88543,1075.0,funded,Farming,Agriculture,Afghanistan,29.0,33,2,1,monthly,0,1,0.0,451.0,452.0,Individual,0.293
4,95148,1075.0,funded,Farming,Agriculture,Afghanistan,28.0,36,2,1,monthly,0,1,0.0,423.0,422.0,Individual,0.293

In [153]:
country_samples['posted_raised_hours'] = [x if x > 0 else 0 for x in country_samples['posted_raised_hours']]


country_samples[country_samples['posted_raised_hours']<=0]

,loan_id,loan_amount,status,activity_name,sector_name,country,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,repayment_interval,female_count,male_count,shortage_fund,posted_raised_hours,disburse_raised_hours,borrow_type,mpi
6752,573389,275.0,funded,Agriculture,Agriculture,Belize,14.0,10,1,1,monthly,0,1,0.0,0.0,-1070.0,Individual,0.030
6787,573397,525.0,funded,Agriculture,Agriculture,Belize,14.0,15,1,1,monthly,0,1,0.0,0.0,-1070.0,Individual,0.030
7247,140645,225.0,funded,Food Production/Sales,Food,Benin,14.0,7,1,1,monthly,1,0,0.0,0.0,-493.0,Individual,0.343
11772,123523,300.0,funded,Fishing,Food,Cambodia,12.0,4,1,1,monthly,0,1,0.0,0.0,139.0,Individual,0.150
14293,491561,400.0,funded,Services,Services,Cameroon,15.0,1,1,1,monthly,0,1,0.0,0.0,680.0,Individual,0.260
19126,265,500.0,funded,Poultry,Agriculture,Ecuador,6.0,8,8,4,bullet,1,0,0.0,0.0,-335.0,Individual,0.015
20103,264,500.0,funded,Grocery Store,Food,Ecuador,6.0,6,6,3,bullet,1,0,0.0,0.0,-335.0,Individual,0.015
20642,1221076,200.0,funded,Furniture Making,Manufacturing,Ecuador,14.0,2,1,1,monthly,0,1,0.0,0.0,106.0,Individual,0.015
25221,98510,300.0,funded,Construction Supplies,Construction,Ghana,9.0,3,2,1,irregular,1,0,0.0,0.0,34.0,Individual,0.147
26356,511265,75.0,funded,Sewing,Services,Ghana,6.0,3,1,1,irregular,1,0,0.0,0.0,719.0,Individual,0.147
28117,270,650.0,funded,Clothing Sales,Clothing,Honduras,12.0,12,2,1,bullet,1,0,0.0,0.0,-335.0,Individual,0.098
28265,247,400.0,funded,Clothing Sales,Clothing,Honduras,12.0,7,4,2,bullet,1,0,0.0,0.0,-335.0,Individual,0.098
28307,239,225.0,funded,Carpentry,Construction,Honduras,12.0,2,4,2,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
28394,283,425.0,funded,Cement,Construction,Honduras,12.0,3,2,1,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
28557,197,250.0,funded,Restaurant,Food,Honduras,8.0,6,4,2,bullet,1,0,0.0,0.0,-335.0,Individual,0.098
28740,244,250.0,funded,Pharmacy,Health,Honduras,12.0,5,2,1,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
28746,230,150.0,funded,Pharmacy,Health,Honduras,12.0,3,4,2,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
28991,266,875.0,funded,Machine Shop,Manufacturing,Honduras,12.0,5,2,1,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
29294,221,400.0,funded,Shoe Sales,Retail,Honduras,12.0,5,4,2,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
29387,214,825.0,funded,Party Supplies,Retail,Honduras,18.0,15,6,3,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
29589,205,725.0,funded,Beauty Salon,Services,Honduras,18.0,8,8,4,bullet,1,0,0.0,0.0,-335.0,Individual,0.098
29621,170,375.0,funded,Cobbler,Services,Honduras,12.0,4,4,2,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
29657,198,550.0,funded,Barber Shop,Services,Honduras,10.0,6,4,2,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
29676,232,650.0,funded,Transportation,Transportation,Honduras,15.0,10,4,2,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
29701,246,500.0,funded,Taxi,Transportation,Honduras,12.0,11,4,2,bullet,0,1,0.0,0.0,-335.0,Individual,0.098
31117,1443951,175.0,funded,Personal Housing Expenses,Housing,India,14.0,3,1,1,monthly,1,0,0.0,0.0,526.0,Individual,0.282
37904,513049,250.0,funded,Quarrying,Construction,Kenya,11.0,2,1,1,monthly,0,1,0.0,0.0,344.0,Individual,0.166
38905,293,300.0,funded,Personal Housing Expenses,Housing,Kenya,12.0,3,4,2,bullet,1,0,0.0,0.0,-335.0,Individual,0.166
39162,254,1100.0,funded,Furniture Making,Manufacturing,Kenya,12.0,11,4,2,bullet,1,0,0.0,0.0,-335.0,Individual,0.166
48278,1282873,50.0,funded,Home Energy,Personal Use,Mexico,3.0,1,2,1,bullet,0,1,0.0,0.0,424.0,Individual,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50527,262164,250.0,funded,Metal Shop,Manufacturing,Mongolia,14.0,9,3,2,monthly,0,1,0.0,0.0,239.0,Individual,0.047
53363,280947,225.0,funded,Agriculture,Agriculture,Nepal,14.0,4,1,1,monthly,1,0,0.0,0.0,924.0,Individual,0.116
53628,111189,400.0,funded,Milk Sales,Food,Nepal,14.0,2,2,1,monthly,1,0,0.0,0.0,-266.0,Individual,0.116
53956,140782,150.0,funded,Tailoring,Services,Nepal,14.0,6,1,1,monthly,1,0,0.0,0.0,336.0,Individual,0.116
55641,135837,400.0,funded,Personal Housing Expenses,Housing,Nicaragua,11.0,1,1,1,monthly,1,0,0.0,0.0,105.0,Individual,0.088
56907,747768,50.0,funded,Farming,Agriculture,Nigeria,17.0,2,3,2,bullet,1,0,0.0,0.0,685.0,Individual,0.279
56908,751026,50.0,funded,Farming,Agriculture,Nigeria,17.0,1,3,2,bullet,0,1,0.0,0.0,677.0,Individual,0.279
64431,261441,150.0,funded,Farming,Agriculture,Philippines,7.0,6,2,1,bullet,1,0,0.0,0.0,301.0,Individual,0.033
64457,125295,300.0,funded,Livestock,Agriculture,Philippines,11.0,8,2,1,irregular,1,0,0.0,0.0,497.0,Individual,0.033
64580,1218891,175.0,funded,Pigs,Agriculture,Philippines,7.0,1,1,1,monthly,1,0,0.0,0.0,641.0,Individual,0.033
64608,1363769,400.0,funded,Farming,Agriculture,Philippines,8.0,1,1,1,irregular,1,0,0.0,0.0,715.0,Individual,0.033
64941,1214713,400.0,funded,Clothing Sales,Clothing,Philippines,8.0,6,1,1,irregular,1,0,0.0,0.0,523.0,Individual,0.033
65357,1254223,200.0,funded,Higher education costs,Education,Philippines,8.0,4,1,1,irregular,1,0,0.0,0.0,501.0,Individual,0.033
65440,169115,150.0,funded,Entertainment,Entertainment,Philippines,7.0,4,1,1,irregular,1,0,0.0,0.0,670.0,Individual,0.033
65735,1410102,225.0,funded,Food Production/Sales,Food,Philippines,8.0,1,1,1,irregular,1,0,0.0,0.0,620.0,Individual,0.033
66288,1410057,500.0,funded,Furniture Making,Manufacturing,Philippines,8.0,1,1,1,irregular,1,0,0.0,0.0,307.0,Individual,0.033
66350,144078,100.0,funded,Furniture Making,Manufacturing,Philippines,7.0,4,2,1,irregular,1,0,0.0,0.0,695.0,Individual,0.033
66380,1413997,250.0,funded,Manufacturing,Manufacturing,Philippines,8.0,1,1,1,irregular,1,0,0.0,0.0,403.0,Individual,0.033
66555,1252579,50.0,funded,Home Energy,Personal Use,Philippines,5.0,1,1,1,irregular,1,0,0.0,0.0,310.0,Individual,0.033
66558,1252248,50.0,funded,Personal Expenses,Personal Use,Philippines,13.0,1,1,1,irregular,1,0,0.0,0.0,606.0,Individual,0.033
66909,1034961,400.0,funded,Tailoring,Services,Philippines,8.0,1,1,1,irregular,1,0,0.0,0.0,455.0,Individual,0.033
67028,1442570,525.0,funded,Motorcycle Transport,Transportation,Philippines,8.0,1,1,1,irregular,1,0,0.0,0.0,692.0,Individual,0.033
67594,689696,600.0,funded,Crafts,Arts,Rwanda,6.0,2,1,1,irregular,1,0,0.0,0.0,719.0,Individual,0.253
67896,689834,450.0,funded,Construction Supplies,Construction,Rwanda,6.0,2,1,1,irregular,1,0,0.0,0.0,722.0,Individual,0.253
72763,133682,575.0,funded,Electronics Repair,Services,Sierra Leone,12.0,2,1,1,monthly,2,2,0.0,0.0,249.0,Group,0.411
81125,100,500.0,funded,Clothing Sales,Clothing,Uganda,6.0,1,20,10,bullet,0,1,0.0,0.0,-335.0,Individual,0.359
81287,306,300.0,funded,Bricks,Construction,Uganda,10.0,2,2,1,bullet,1,0,0.0,0.0,-335.0,Individual,0.359
81365,108,500.0,funded,Carpentry,Construction,Uganda,6.0,8,18,9,bullet,0,1,0.0,0.0,-335.0,Individual,0.359
82183,279,475.0,funded,Personal Housing Expenses,Housing,Uganda,10.0,7,6,3,bullet,0,1,0.0,0.0,-335.0,Individual,0.359
82206,280,475.0,funded,Personal Housing Expenses,Housing,Uganda,12.0,10,6,3,bullet,1,0,0.0,0.0,-335.0,Individual,0.359

In [154]:
country_samples['posted_raised_hours'].describe()

count    88289.000000
mean       283.423292
std        293.969124
min          0.000000
25%         78.000000
50%        177.000000
75%        395.000000
max       8051.000000
Name: posted_raised_hours, dtype: float64

In [155]:
country_samples['raised_time_class'] = pd.cut(country_samples['posted_raised_hours'],bins=[0,24,168,360,720,7555], labels=['one_day','week','fifteen','month','over_month'])

In [156]:
country_samples = country_samples.set_index('loan_id')

In [157]:
X = country_samples.drop(['raised_time_class','posted_raised_hours'], axis=1)

In [ ]:
# Classification - Trying to understand how much time would it take to classify

from sklearn import preprocessing
X = country_samples.drop(['disburse_raised_hours','raised_time_class'], axis=1)
X_dummies = pd.get_dummies(X)
Y = country_samples['raised_time_class']

encoder = preprocessing.LabelEncoder()
encoder.fit(list(Y))
Y_encoded = encoder.transform(list(Y))

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_dummies,Y_encoded,test_size=0.33, random_state=42)

from sklearn.neighbors import KNeighborsClassifier
train_scores = []
test_scores = []

for n in range(1,20,2):
    knn = KNeighborsClassifier(n_neighbors=n,weights='distance')
    knn.fit(x_train,y_train)
    train_score = knn.score(x_train,y_train)
    test_score = knn.score(x_test,y_test)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f'N - {n}, Train - {train_score}, Test - {test_score}')

from sklearn.ensemble import RandomForestClassifier
rf_class = RandomForestClassifier(n_estimators=200)

rf_class.fit(x_train,y_train)

rf_train = rf_class.score(x_train,y_train)
rf_test = rf_class.score(x_test,y_test)

print(f'Random Forest Classifier Train - {rf_train}, Test - {rf_test}')

In [159]:
X = country_samples.drop(['disburse_raised_hours','raised_time_class'], axis=1)
X_dummies = pd.get_dummies(X)

Y = country_samples['disburse_raised_hours']

x_train, x_test, y_train, y_test = train_test_split(X_dummies,Y,test_size=0.33, random_state=42)

from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(n_estimators=100)

rf_reg.fit(x_train,y_train)

rf_train = rf_reg.score(x_train,y_train)
rf_test = rf_reg.score(x_test,y_test)

Random Forest Classifier Train - 0.9573709255794652, Test - 0.7063665752062882

In [160]:
print(f'Random Forest Regressor Train - {rf_train}, Test - {rf_test}')

Random Forest Regressor Train - 0.9573709255794652, Test - 0.7063665752062882