In [1]:
import myutilities

In [2]:
import json

import pandas as pd

n_clusters = 4

In [3]:
def getNewLoanData():   
    latest_loans = myutilities.getLatestLoans()

    feature_df = myutilities.getFeatureVector(latest_loans)

    transformed_df = myutilities.applyPCA(3,feature_df)

    predicted_df = transformed_df

    pkl_filename = "Kiva_4_Clusters.pkl"  

    # Load from file
    with open(pkl_filename, 'rb') as file:  
        cluster_model = pickle.load(file)

    predicted_df['class'] = cluster_model.predict(transformed_df)

    return json.dumps(predicted_df.to_dict(orient='records'))

In [ ]:
latest_loans = myutilities.getLatestLoans()

feature_df = myutilities.getFeatureVector(latest_loans)

In [ ]:

transformed_df = myutilities.applyPCA(3,feature_df)

predicted_df = transformed_df

pkl_filename = "Kiva_4_Clusters.pkl"  

# Load from file
with open(pkl_filename, 'rb') as file:  
    cluster_model = pickle.load(file)

predicted_df['class'] = cluster_model.predict(transformed_df)

In [5]:
loan_samples_clustered = pd.read_csv('Clustered_samples_dataset.csv')

category_data = myutilities.describe_categorical(loan_samples_clustered)
numerical_data = myutilities.describe_numerical(loan_samples_clustered)

data = {
    'categorical':category_data,
    'numerical':numerical_data
}

json.dumps(data)

'{"categorical": [{"0": {"country": [3017, 743, 520, 362, 301, 173, 119, 99, 75, 74], "sector_name": [995, 882, 727, 690, 666, 643, 607, 262, 111, 110], "activity_name": [936, 555, 389, 321, 293, 288, 281, 243, 202, 201], "status": [5816]}}, {"1": {"country": [1295, 350, 287, 213, 155, 134, 133, 89, 79, 65], "sector_name": [561, 507, 403, 403, 304, 257, 253, 199, 159, 90], "activity_name": [408, 238, 231, 172, 155, 148, 127, 107, 88, 85], "status": [3217]}}, {"2": {"country": [666, 154, 93, 91, 34, 30, 28, 22, 21, 17], "sector_name": [1189, 47, 1, 1], "activity_name": [686, 227, 205, 46, 32, 17, 10, 8, 2, 1], "status": [1238]}}, {"3": {"country": [521, 421, 130, 115, 93, 74, 55, 53, 51, 34], "sector_name": [677, 485, 204, 100, 65, 61, 21, 17, 13, 13], "activity_name": [451, 175, 147, 140, 95, 90, 63, 54, 47, 44], "status": [1696]}}], "numerical": [{"index": "loan_amount", "mean": 427.1400668063183, "50%": 400.0, "cluster_num": 0}, {"index": "female_count", "mean": 0.9193794938572156, "50%": 1.0, "cluster_num": 0}, {"index": "male_count", "mean": 0.30866783672082887, "50%": 0.0, "cluster_num": 0}, {"index": "population_in_mpi", "mean": 26.018009398175632, "50%": 19.4, "cluster_num": 0}, {"index": "lender_term", "mean": 12.607314725697787, "50%": 12.0, "cluster_num": 0}, {"index": "num_lenders_total", "mean": 13.285172394270509, "50%": 12.0, "cluster_num": 0}, {"index": "posted_raised_hours", "mean": 233.842212534677, "50%": 148.0, "cluster_num": 0}, {"index": "num_journal_entries", "mean": 1.490686746305837, "50%": 1.0, "cluster_num": 0}, {"index": "loan_amount", "mean": 427.1400668063183, "50%": 400.0, "cluster_num": 1}, {"index": "female_count", "mean": 0.9193794938572156, "50%": 1.0, "cluster_num": 1}, {"index": "male_count", "mean": 0.30866783672082887, "50%": 0.0, "cluster_num": 1}, {"index": "population_in_mpi", "mean": 26.018009398175632, "50%": 19.4, "cluster_num": 1}, {"index": "lender_term", "mean": 12.607314725697787, "50%": 12.0, "cluster_num": 1}, {"index": "num_lenders_total", "mean": 13.285172394270509, "50%": 12.0, "cluster_num": 1}, {"index": "posted_raised_hours", "mean": 233.842212534677, "50%": 148.0, "cluster_num": 1}, {"index": "num_journal_entries", "mean": 1.490686746305837, "50%": 1.0, "cluster_num": 1}, {"index": "loan_amount", "mean": 427.1400668063183, "50%": 400.0, "cluster_num": 2}, {"index": "female_count", "mean": 0.9193794938572156, "50%": 1.0, "cluster_num": 2}, {"index": "male_count", "mean": 0.30866783672082887, "50%": 0.0, "cluster_num": 2}, {"index": "population_in_mpi", "mean": 26.018009398175632, "50%": 19.4, "cluster_num": 2}, {"index": "lender_term", "mean": 12.607314725697787, "50%": 12.0, "cluster_num": 2}, {"index": "num_lenders_total", "mean": 13.285172394270509, "50%": 12.0, "cluster_num": 2}, {"index": "posted_raised_hours", "mean": 233.842212534677, "50%": 148.0, "cluster_num": 2}, {"index": "num_journal_entries", "mean": 1.490686746305837, "50%": 1.0, "cluster_num": 2}, {"index": "loan_amount", "mean": 427.1400668063183, "50%": 400.0, "cluster_num": 3}, {"index": "female_count", "mean": 0.9193794938572156, "50%": 1.0, "cluster_num": 3}, {"index": "male_count", "mean": 0.30866783672082887, "50%": 0.0, "cluster_num": 3}, {"index": "population_in_mpi", "mean": 26.018009398175632, "50%": 19.4, "cluster_num": 3}, {"index": "lender_term", "mean": 12.607314725697787, "50%": 12.0, "cluster_num": 3}, {"index": "num_lenders_total", "mean": 13.285172394270509, "50%": 12.0, "cluster_num": 3}, {"index": "posted_raised_hours", "mean": 233.842212534677, "50%": 148.0, "cluster_num": 3}, {"index": "num_journal_entries", "mean": 1.490686746305837, "50%": 1.0, "cluster_num": 3}]}'

In [6]:
category_data

[{'0': {'activity_name': [936, 555, 389, 321, 293, 288, 281, 243, 202, 201],
   'country': [3017, 743, 520, 362, 301, 173, 119, 99, 75, 74],
   'sector_name': [995, 882, 727, 690, 666, 643, 607, 262, 111, 110],
   'status': [5816]}},
 {'1': {'activity_name': [408, 238, 231, 172, 155, 148, 127, 107, 88, 85],
   'country': [1295, 350, 287, 213, 155, 134, 133, 89, 79, 65],
   'sector_name': [561, 507, 403, 403, 304, 257, 253, 199, 159, 90],
   'status': [3217]}},
 {'2': {'activity_name': [686, 227, 205, 46, 32, 17, 10, 8, 2, 1],
   'country': [666, 154, 93, 91, 34, 30, 28, 22, 21, 17],
   'sector_name': [1189, 47, 1, 1],
   'status': [1238]}},
 {'3': {'activity_name': [451, 175, 147, 140, 95, 90, 63, 54, 47, 44],
   'country': [521, 421, 130, 115, 93, 74, 55, 53, 51, 34],
   'sector_name': [677, 485, 204, 100, 65, 61, 21, 17, 13, 13],
   'status': [1696]}}]

In [19]:
category_data

[{'0': {'activity_name': {'Crafts': 288,
    'Entertainment': 243,
    'Furniture Making': 293,
    'Games': 281,
    'General Store': 555,
    'Manufacturing': 321,
    'Motorcycle Transport': 389,
    'Personal Housing Expenses': 936,
    'Transportation': 201,
    'Weaving': 202},
   'country': {'Cambodia': 301,
    'Colombia': 362,
    'Ecuador': 99,
    'Ghana': 74,
    'Indonesia': 119,
    'Mexico': 173,
    'Nicaragua': 520,
    'Peru': 743,
    'Philippines': 3017,
    'Tajikistan': 75},
   'sector_name': {'Arts': 607,
    'Construction': 111,
    'Entertainment': 666,
    'Food': 643,
    'Housing': 995,
    'Manufacturing': 727,
    'Retail': 882,
    'Services': 262,
    'Transportation': 690,
    'Wholesale': 110},
   'status': {'funded': 5816}}},
 {'1': {'activity_name': {'Beauty Salon': 88,
    'Clothing Sales': 408,
    'Farming': 238,
    'Goods Distribution': 231,
    'Motorcycle Transport': 148,
    'Pharmacy': 155,
    'Services': 107,
    'Tailoring': 127,
    'Used Clothing': 85,
    'Wholesale': 172},
   'country': {'Cambodia': 213,
    'Ghana': 155,
    'India': 65,
    'Kenya': 1295,
    'Nicaragua': 133,
    'Nigeria': 89,
    'Pakistan': 350,
    'Peru': 287,
    'Philippines': 134,
    'Uganda': 79},
   'sector_name': {'Agriculture': 403,
    'Clothing': 561,
    'Education': 90,
    'Entertainment': 159,
    'Food': 257,
    'Health': 253,
    'Manufacturing': 199,
    'Services': 507,
    'Transportation': 304,
    'Wholesale': 403},
   'status': {'funded': 3217}}},
 {'2': {'activity_name': {'Agriculture': 10,
    'Consumer Goods': 17,
    'Farming': 32,
    'Food Production/Sales': 1,
    'Home Appliances': 686,
    'Home Energy': 227,
    'Livestock': 2,
    'Personal Expenses': 205,
    'Vehicle': 46,
    'Wedding Expenses': 8},
   'country': {'Cambodia': 666,
    'Kenya': 154,
    "Lao People's Democratic Republic": 30,
    'Lesotho': 22,
    'Mexico': 17,
    'Nicaragua': 34,
    'Nigeria': 91,
    'Peru': 28,
    'Philippines': 93,
    'Tajikistan': 21},
   'sector_name': {'Agriculture': 47,
    'Food': 1,
    'Health': 1,
    'Personal Use': 1189},
   'status': {'funded': 1238}}},
 {'3': {'activity_name': {'Agriculture': 63,
    'Clothing Sales': 95,
    'Farming': 147,
    'Health': 44,
    'Higher education costs': 175,
    'Livestock': 54,
    'Natural Medicines': 90,
    'Personal Medical Expenses': 451,
    'Pigs': 140,
    'Taxi': 47},
   'country': {'Armenia': 74,
    'Colombia': 53,
    'Ecuador': 93,
    'Georgia': 34,
    'Jordan': 51,
    'Mexico': 115,
    'Nicaragua': 55,
    'Peru': 130,
    'Philippines': 421,
    'Tajikistan': 521},
   'sector_name': {'Agriculture': 485,
    'Arts': 13,
    'Clothing': 100,
    'Construction': 17,
    'Education': 204,
    'Entertainment': 21,
    'Health': 677,
    'Services': 61,
    'Transportation': 65,
    'Wholesale': 13},
   'status': {'funded': 1696}}}]

In [13]:
def describe_categorical(df):

    cluster_frequency = []

    for k in range(n_clusters):
        kth_cluster = df[df['class']==k]

        category_values = {
            str(k) : {}
        }

        for c in ['country','sector_name','activity_name','status']:
            cat_values = kth_cluster[c].value_counts().head(10)
            
            cat_dict = [{x[0]:x[1]} for x in cat_values.items()]
            
            category_values[str(k)].update({str(c):cat_dict})

        cluster_frequency.append(category_values)
        
    return cluster_frequency

In [14]:
df =loan_samples_clustered

json.dumps(describe_categorical(df)

[{'0': {'activity_name': [{'Personal Housing Expenses': 936},
    {'General Store': 555},
    {'Motorcycle Transport': 389},
    {'Manufacturing': 321},
    {'Furniture Making': 293},
    {'Crafts': 288},
    {'Games': 281},
    {'Entertainment': 243},
    {'Weaving': 202},
    {'Transportation': 201}],
   'country': [{'Philippines': 3017},
    {'Peru': 743},
    {'Nicaragua': 520},
    {'Colombia': 362},
    {'Cambodia': 301},
    {'Mexico': 173},
    {'Indonesia': 119},
    {'Ecuador': 99},
    {'Tajikistan': 75},
    {'Ghana': 74}],
   'sector_name': [{'Housing': 995},
    {'Retail': 882},
    {'Manufacturing': 727},
    {'Transportation': 690},
    {'Entertainment': 666},
    {'Food': 643},
    {'Arts': 607},
    {'Services': 262},
    {'Construction': 111},
    {'Wholesale': 110}],
   'status': [{'funded': 5816}]}},
 {'1': {'activity_name': [{'Clothing Sales': 408},
    {'Farming': 238},
    {'Goods Distribution': 231},
    {'Wholesale': 172},
    {'Pharmacy': 155},
    {'Motorcycle Transport': 148},
    {'Tailoring': 127},
    {'Services': 107},
    {'Beauty Salon': 88},
    {'Used Clothing': 85}],
   'country': [{'Kenya': 1295},
    {'Pakistan': 350},
    {'Peru': 287},
    {'Cambodia': 213},
    {'Ghana': 155},
    {'Philippines': 134},
    {'Nicaragua': 133},
    {'Nigeria': 89},
    {'Uganda': 79},
    {'India': 65}],
   'sector_name': [{'Clothing': 561},
    {'Services': 507},
    {'Wholesale': 403},
    {'Agriculture': 403},
    {'Transportation': 304},
    {'Food': 257},
    {'Health': 253},
    {'Manufacturing': 199},
    {'Entertainment': 159},
    {'Education': 90}],
   'status': [{'funded': 3217}]}},
 {'2': {'activity_name': [{'Home Appliances': 686},
    {'Home Energy': 227},
    {'Personal Expenses': 205},
    {'Vehicle': 46},
    {'Farming': 32},
    {'Consumer Goods': 17},
    {'Agriculture': 10},
    {'Wedding Expenses': 8},
    {'Livestock': 2},
    {'Food Production/Sales': 1}],
   'country': [{'Cambodia': 666},
    {'Kenya': 154},
    {'Philippines': 93},
    {'Nigeria': 91},
    {'Nicaragua': 34},
    {"Lao People's Democratic Republic": 30},
    {'Peru': 28},
    {'Lesotho': 22},
    {'Tajikistan': 21},
    {'Mexico': 17}],
   'sector_name': [{'Personal Use': 1189},
    {'Agriculture': 47},
    {'Health': 1},
    {'Food': 1}],
   'status': [{'funded': 1238}]}},
 {'3': {'activity_name': [{'Personal Medical Expenses': 451},
    {'Higher education costs': 175},
    {'Farming': 147},
    {'Pigs': 140},
    {'Clothing Sales': 95},
    {'Natural Medicines': 90},
    {'Agriculture': 63},
    {'Livestock': 54},
    {'Taxi': 47},
    {'Health': 44}],
   'country': [{'Tajikistan': 521},
    {'Philippines': 421},
    {'Peru': 130},
    {'Mexico': 115},
    {'Ecuador': 93},
    {'Armenia': 74},
    {'Nicaragua': 55},
    {'Colombia': 53},
    {'Jordan': 51},
    {'Georgia': 34}],
   'sector_name': [{'Health': 677},
    {'Agriculture': 485},
    {'Education': 204},
    {'Clothing': 100},
    {'Transportation': 65},
    {'Services': 61},
    {'Entertainment': 21},
    {'Construction': 17},
    {'Arts': 13},
    {'Wholesale': 13}],
   'status': [{'funded': 1696}]}}]

In [41]:
describe_categorical(loan_samples_clustered)

[{'0': {'activity_name': Personal Housing Expenses    936
   General Store                555
   Motorcycle Transport         389
   Manufacturing                321
   Furniture Making             293
   Crafts                       288
   Games                        281
   Entertainment                243
   Weaving                      202
   Transportation               201
   Name: activity_name, dtype: int64, 'country': Philippines    3017
   Peru            743
   Nicaragua       520
   Colombia        362
   Cambodia        301
   Mexico          173
   Indonesia       119
   Ecuador          99
   Tajikistan       75
   Ghana            74
   Name: country, dtype: int64, 'sector_name': Housing           995
   Retail            882
   Manufacturing     727
   Transportation    690
   Entertainment     666
   Food              643
   Arts              607
   Services          262
   Construction      111
   Wholesale         110
   Name: sector_name, dtype: int64, 'status': funded    5816
   Name: status, dtype: int64}},
 {'1': {'activity_name': Clothing Sales          408
   Farming                 238
   Goods Distribution      231
   Wholesale               172
   Pharmacy                155
   Motorcycle Transport    148
   Tailoring               127
   Services                107
   Beauty Salon             88
   Used Clothing            85
   Name: activity_name, dtype: int64, 'country': Kenya          1295
   Pakistan        350
   Peru            287
   Cambodia        213
   Ghana           155
   Philippines     134
   Nicaragua       133
   Nigeria          89
   Uganda           79
   India            65
   Name: country, dtype: int64, 'sector_name': Clothing          561
   Services          507
   Agriculture       403
   Wholesale         403
   Transportation    304
   Food              257
   Health            253
   Manufacturing     199
   Entertainment     159
   Education          90
   Name: sector_name, dtype: int64, 'status': funded    3217
   Name: status, dtype: int64}},
 {'2': {'activity_name': Home Appliances          686
   Home Energy              227
   Personal Expenses        205
   Vehicle                   46
   Farming                   32
   Consumer Goods            17
   Agriculture               10
   Wedding Expenses           8
   Livestock                  2
   Food Production/Sales      1
   Name: activity_name, dtype: int64,
   'country': Cambodia                            666
   Kenya                               154
   Philippines                          93
   Nigeria                              91
   Nicaragua                            34
   Lao People's Democratic Republic     30
   Peru                                 28
   Lesotho                              22
   Tajikistan                           21
   Mexico                               17
   Name: country, dtype: int64,
   'sector_name': Personal Use    1189
   Agriculture       47
   Food               1
   Health             1
   Name: sector_name, dtype: int64,
   'status': funded    1238
   Name: status, dtype: int64}},
 {'3': {'activity_name': Personal Medical Expenses    451
   Higher education costs       175
   Farming                      147
   Pigs                         140
   Clothing Sales                95
   Natural Medicines             90
   Agriculture                   63
   Livestock                     54
   Taxi                          47
   Health                        44
   Name: activity_name, dtype: int64, 'country': Tajikistan     521
   Philippines    421
   Peru           130
   Mexico         115
   Ecuador         93
   Armenia         74
   Nicaragua       55
   Colombia        53
   Jordan          51
   Georgia         34
   Name: country, dtype: int64, 'sector_name': Health            677
   Agriculture       485
   Education         204
   Clothing          100
   Transportation     65
   Services           61
   Entertainment      21
   Construction       17
   Arts               13
   Wholesale          13
   Name: sector_name, dtype: int64, 'status': funded    1696
   Name: status, dtype: int64}}]

In [9]:
numerical_data

                           mean    50%
loan_amount          427.140067  400.0
female_count           0.919379    1.0
male_count             0.308668    0.0
population_in_mpi     26.018009   19.4
lender_term           12.607315   12.0
num_lenders_total     13.285172   12.0
posted_raised_hours  233.842213  148.0
num_journal_entries    1.490687    1.0

In [13]:
import json
import pickle

def getNewLoanData():   
    latest_loans = myutilities.getLatestLoans()

    feature_df = myutilities.getFeatureVector(latest_loans)

    transformed_df = myutilities.applyPCA(3,feature_df)

    predicted_df = transformed_df

    pkl_filename = "Kiva_4_Clusters.pkl"  

    # Load from file
    with open(pkl_filename, 'rb') as file:  
        cluster_model = pickle.load(file)

#     predicted_df['class'] = cluster_model.predict(transformed_df)

    return latest_loans

In [14]:
getNewLoanData()

PCA transformation applied with 3 components:

Top 5 features in each principal component
[activity_name_Livestock    0.307959
Health                     0.303812
loan_amount                0.243943
sector_name_Agriculture    0.186103
Education                  0.109824
Name: 0, dtype: float64, Education                      0.339555
activity_name_General Store    0.201830
sector_name_Retail             0.201830
activity_name_Internet Cafe    0.201830
sector_name_Services           0.201830
Name: 1, dtype: float64, sector_name_Housing                             0.339821
activity_name_Personal Housing Expenses         0.339821
activity_name_Clothing Sales                    0.220559
sector_name_Clothing                            0.220559
activity_name_Primary/secondary school costs    0.220559
Name: 2, dtype: float64]
-----------------------------------------------

,activity_name,borrower_count,country,loan_amount,sector_name,status,mpi,population_in_mpi,Education,Health,Living standards,population_in_severe_mpi
0,Livestock,1,kyrgyzstan,900,Agriculture,fundraising,0.008,2.2,13.0,73.5,13.5,0.0
1,Farming,1,cambodia,1000,Agriculture,fundraising,0.150,33.8,30.8,26.4,42.8,11.4
2,Personal Housing Expenses,1,indonesia,50,Housing,fundraising,0.024,5.9,24.7,35.1,40.2,1.1
3,Fish Selling,1,philippines,400,Food,fundraising,0.033,6.3,35.3,30.2,34.5,4.2
4,General Store,1,philippines,400,Retail,fundraising,0.033,6.3,35.3,30.2,34.5,4.2
5,Internet Cafe,1,philippines,400,Services,fundraising,0.033,6.3,35.3,30.2,34.5,4.2
6,Clothing Sales,1,kenya,300,Clothing,fundraising,0.166,36.0,12.3,32.2,55.5,10.7
7,Farming,1,kenya,400,Agriculture,fundraising,0.166,36.0,12.3,32.2,55.5,10.7
8,Fruits & Vegetables,1,kenya,300,Food,fundraising,0.166,36.0,12.3,32.2,55.5,10.7
9,Farming,1,kenya,350,Agriculture,fundraising,0.166,36.0,12.3,32.2,55.5,10.7
10,Primary/secondary school costs,1,kenya,300,Education,fundraising,0.166,36.0,12.3,32.2,55.5,10.7
11,Cheese Making,1,nicaragua,400,Food,fundraising,0.088,19.4,37.8,12.6,49.6,6.9
12,Animal Sales,1,ecuador,525,Agriculture,fundraising,0.015,3.7,23.6,42.4,34.0,0.5
13,Fruits & Vegetables,1,pakistan,525,Food,fundraising,0.237,45.6,36.2,32.3,31.6,26.5
14,Livestock,1,jordan,1275,Agriculture,fundraising,0.004,1.2,31.5,65.0,3.5,0.1